NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SALETRAIL_ADMIN_PASSWORD=
NEXT_PUBLIC_LOCALIZED_FACEBOOK_GROUP_URL=
SALETRAIL_LOCALIZED_FACEBOOK_GROUP_URL=
RESEND_API_KEY=
SALETRAIL_EMAIL_FROM=
